# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Vault-Ripper/FileContentIndex/1815b2f4-176e-401d-8c25-fc633550e94c.vsidx
/.vs/Vault-Ripper/FileContentIndex/97bd391a-3042-41e2-b9ad-12a6bbc4da55.vsidx
/.vs/Vault-Ripper/FileContentIndex/bbc42846-20c8-469f-9b89-65cb4064ac99.vsidx
/.vs/Vault-Ripper/FileContentIndex/30e43b4c-07f2-4000-bc83-78d544f9b503.vsidx
/.vs/Vault-Ripper/FileContentIndex/ea38f376-a00c-454c-a381-d020ace24b9e.vsidx
/.vs/Vault-Ripper/FileContentIndex/af29b16f-1c44-4c4f-ba09-76cf6c6a252a.vsidx
/.vs/Vault-Ripper/FileContentIndex/91e92c7e-a0dd-46a5-92b3-028a4e135e55.vsidx
/.vs/Vault-Ripper/FileContentIndex/78e4bb25-9535-4216-899e-2602fb8e557a.vsidx
/.vs/Vault-Ripper/FileContentIndex/16554352-fff1-46d1-b43e-e83bd4bfb429.vsidx
/.vs
